.light {
    --background-color: #F3F3F3;
    --main-color: #F9F9F9;
    --border-color: #DFDFDF;

    --nav-selected: rgba(100, 100, 100, 0.1);
    --nav-selected-active: rgba(150, 150, 150, 0.25);
    
    --nav-hyperlink: var(--nav-selected);
    --nav-hyperlink-active: var(--nav-selected-active);


    --text-color: #000000;
    --text-note-color: #001224;

    /* Input */
    --input-color: #636363;
    --input-bg-color: #fdfdfd;
    --input-border-color: #ebebeb;
    --input-border-bot-color: #8b8b8b;

    --input-hover-color: #626262;
    --input-bg-hover-color: #f9f9f9;
    --input-border-bot-hover-color: #8b8b8b;

    --input-bg-active-color: #ffffff;
    --input-border-active-color: #ebebeb;
    --input-border-bot-active-color: var(--bg-main-button);
    
    --input-cross: #f1f1f1;

    /* Button */
    --text-main-button: #FFFFFF;
    --bg-main-button: #005FB8;
    --bg-after-main-button: linear-gradient(180deg, #0069B8 90%, #013681 100%);
    --bg-hover-main-button: #016dd1;
    --bg-active-main-button: #0076e4;
    --active-main-button-color: #d8e7f5;

    --text-sec-button: var(--text-color);
    --bg-sec-button: rgb(254, 254, 254);
    --bg-after-sec-button: linear-gradient(180deg, #e9e9e9 90%, #d3d3d3 100%);
    --bg-hover-sec-button: rgb(247, 247, 247);
    --bg-active-sec-button: rgb(238, 238, 238);
    --active-sec-button-color: var(--text-color);

    --bg-border-button: #dbdbdb;
    
    /* Checkbox */
    --checkbox-border: rgba(0,0,0,0.4458);
    --checkbox-bg: rgba(0,0,0, 0.0241);
    --checkbox-hover: rgba(0,0,0, 0.0578);
    --checkbox-active: rgba(0,0,0, 0.0924);
    --checkbox-check-hover: rgba(0,95,184,0.9);
    --checkbox-check-active: rgba(0,95,184,0.8);


    --img-size: 20px;
    --font-size: 14px;

    --window-control-hover: rgba(168, 168, 168, 0.35);
    --window-close-hover: rgb(255, 60, 60);

    --dropdown-bg: var(--background-color);

    --mouse-color: linear-gradient(90deg, rgb(250, 112, 154)28%, rgb(254, 225, 64) 100%);
    
    /* Note Banner */
    --success-color: #0F7B0F;

    --info-banner-bg: rgba(255, 255, 255, 0.1);
    --info-banner-icon: var(--bg-main-button);
    --info-banner-border: #ececec;

    --warning-banner-bg: #FFF4CE;
    --warning-banner-icon: #9D5D00;

    --error-banner-bg: #fde7e9e7;
    --error-banner-icon: #C42B1C;
    --error-banner-button: #fffbfcd5;
}

.light ::selection {
    background: rgb(181, 210, 247);
  }

.dark {
    --background-color: #1C1C1C;
    --main-color: #202020;
    --border-color: #303030;

    --nav-selected: rgba(255, 255, 255, 0.1);
    --nav-selected-active: rgba(255, 255, 255, 0.12);
    
    --nav-hyperlink: var(--nav-selected);
    --nav-hyperlink-active: var(--nav-selected-active);
    
    --text-color: #FFFFFF;
    --text-note-color: #9facbb;

    --input-color: #d2d2d2;
    --input-bg-color: #292929;
    --input-border-color: #2e2e2e;
    --input-border-bot-color: #989898;

    /* Input */
    --input-hover-color: var(--input-color);
    --input-bg-hover-color: #2f2f2f;
    --input-border-bot-hover-color: #979797;

    --input-bg-active-color: #201c1c;
    --input-border-active-color: #2c2c2c;
    --input-border-bot-active-color: #60cdff;

    --input-cross: #333435;

    /* Button */
    --text-main-button: #000000;
    --bg-main-button: #60CDFF;
    --bg-after-main-button: linear-gradient(180deg, #6cd1ff 70%, #56b5e0 100%);
    --bg-hover-main-button: #59bce8;
    --bg-active-main-button: #53aad2;
    --active-main-button-color: #192e3a;

    --text-sec-button: var(--text-color);
    --bg-sec-button: #2a2a2a;
    --bg-after-sec-button: linear-gradient(180deg, #313131 70%, #2b2b2b 100%);
    --bg-hover-sec-button: #2f2f2f;
    --bg-active-sec-button: #2e2e2e;
    --active-sec-button-color: #d0d0d0;

    --bg-border-button: #2c2c2c;
    
    /* Checkbox */
    --checkbox-border: #989898;
    --checkbox-bg: rgba(0,0,0, 0.0241);
    --checkbox-hover: #262626;
    --checkbox-active: rgba(0,0,0, 0.0924);
    --checkbox-check-hover: var(--bg-hover-main-button);
    --checkbox-check-active: var(--bg-active-main-button);
  
    --img-size: 20px;
    --font-size: 14px;
  
    --window-control-hover: rgb(64, 67, 70);
    --window-close-hover: rgb(194, 43, 43);

    --dropdown-bg: var(--input-bg-color);
    
    --mouse-color: linear-gradient(90deg, rgba(164, 223, 170, 0.6)28%, rgba(107, 193, 224, 0.6) 100%);
    
    /* Note Banner */
    --success-color: #6CCB5F;

    --info-banner-bg: #2326278f;
    --info-banner-icon: #60cdff;
    --info-banner-border: #2a2e30;

    --warning-banner-bg: #433519;
    --warning-banner-icon: #fce100;

    --error-banner-bg: #442726bd;
    --error-banner-icon: #FF99A4;
    --error-banner-button: #573434bd;
}

.dark ::selection {
    background: rgb(48, 92, 150);
}