html body {
  font-family: "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  overflow: hidden;
}
html body img, html body svg {
  width: var(--img-size);
  height: var(--img-size);
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
html body a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
@keyframes round {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
    width: 170px;
    height: 150px;
  }
  50% {
    border-radius: 40%;
    width: 140px;
    height: 120px;
  }
  100% {
    border-radius: 50%;
    width: 170px;
    height: 150px;
    transform: rotate(365deg);
  }
}
html body .no-select {
  user-select: none !important;
}
html body .small-cursor {
  position: fixed;
  z-index: 2;
  top: -150px;
  left: 45%;
  width: 170px;
  height: 150px;
  background: var(--mouse-color);
  filter: blur(85px);
  border-radius: 50%;
  pointer-events: none;
  transition: 1s ease-out;
  animation: round 25s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
html body .medium-title {
  font-size: var(--medium-text);
}
html body .big-title {
  font-size: var(--big-text);
  font-weight: normal;
}
html body .wrong-form {
  border: 1px solid var(--error-banner-icon) !important;
}
html body .medium-form {
  width: 190px;
  padding-right: 10px;
}
html body .big-form {
  width: 420px;
  padding-right: 40px;
}
html body .medium-form, html body .big-form {
  height: 30px;
  padding-left: 7px;
  color: var(--input-color);
  font-size: var(--small-text);
  background-color: var(--input-bg-color);
  border: none;
  border: 1px solid var(--input-border-color);
  border-bottom: 1px solid var(--input-border-bot-color);
  border-radius: 5px;
  font-size: 14px;
  transition: 0.2s;
}
html body .medium-form:hover, html body .big-form:hover {
  color: var(--input-hover-color);
  background-color: var(--input-bg-hover-color);
  border: 1px solid var(--input-border-color);
  border-bottom: 1px solid var(--input-border-bot-hover-color);
  transition: 0.2s;
}
html body .medium-form:active, html body .medium-form:focus, html body .big-form:active, html body .big-form:focus {
  outline: none;
  height: 28px;
  padding-top: 2px;
  background-color: var(--input-bg-active-color);
  border: 1px solid var(--input-border-active-color);
  border-bottom: 2px solid var(--input-border-bot-active-color);
  transition: 0.2s;
}
html body .info {
  width: 11px;
  height: 11px;
  margin-left: 3px;
  cursor: pointer;
}
html body .deleteProfile {
  position: absolute;
  left: 122px;
  transition: 0.2s;
}
html body .deleteProfile .deleteProfileIcon {
  margin-top: 3px;
  width: 13px;
  height: 13px;
  opacity: 0.65;
}
html body .deleteProfile:hover .deleteProfileIcon {
  opacity: 0.9;
  transition: 0.2s;
}
html body .openExternal {
  width: 13px;
  height: 13px;
  opacity: 0.65;
}
html body .hidden {
  display: none;
}
html body header #drag-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31px;
  backdrop-filter: blur(100px);
  z-index: 3;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
}
html body header #drag-region #window-title img {
  position: absolute;
  top: 6.5px;
  left: 18px;
}
html body header #drag-region #window-title span {
  position: absolute;
  top: 9px;
  left: 55px;
  font-size: 12px;
}
html body header #drag-region #window-controls {
  -webkit-app-region: no-drag;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
html body header #drag-region #window-controls .button {
  width: 46px;
  height: 32px;
  border: none;
  background-color: transparent;
}
html body header #drag-region #window-controls .button .icon {
  width: 10px;
  height: 10px;
}
html body header #drag-region #window-controls #minBtn:hover, html body header #drag-region #window-controls #maxBtn:hover, html body header #drag-region #window-controls #restoreBtn:hover {
  background-color: var(--window-control-hover);
}
html body header #drag-region #window-controls #closeBtn:hover {
  background-color: var(--window-close-hover);
}
html body header #drag-region #window-controls #restoreBtn {
  display: none;
}
html body nav #side-bar {
  position: absolute;
  padding-top: 4px;
  top: 31px;
  left: 0;
  width: 320px;
  height: 100vh;
  transition: 0.2s;
  font-size: var(--font-size);
  backdrop-filter: blur(100px);
  z-index: 3;
}
html body nav #side-bar .comment #idleIcon {
  display: block;
}
html body nav #side-bar .comment #runIcon {
  display: none;
}
html body nav #side-bar .comment #pauseIcon {
  display: none;
}
html body nav #side-bar #active {
  background-color: var(--nav-selected);
}
html body nav #side-bar #active:active {
  background-color: var(--nav-selected-active);
  transition: 0.2s;
}
html body nav #side-bar #active .line {
  margin-top: 1.5px;
  width: 3px;
  height: 16px;
  border-radius: 2px;
  background-color: var(--bg-main-button);
}
html body nav #side-bar #active img {
  margin-left: -3px;
}
html body nav #side-bar #active #settingsIcon {
  margin-left: -4px;
}
html body nav #side-bar a {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  transition: 0.2s;
}
html body nav #side-bar a:hover {
  background-color: var(--nav-hyperlink);
  transition: 0.2s;
}
html body nav #side-bar a:active {
  background-color: var(--nav-hyperlink-active);
  transition: 0.2s;
}
html body nav #side-bar a img {
  padding-left: 13.5px;
}
html body nav #side-bar a p {
  position: absolute;
  margin-top: 0;
  margin-left: 50px;
}
html body nav #side-bar footer #wifi {
  position: absolute;
  bottom: 90px;
  width: 310px;
  height: 30px;
  border-bottom: 1px solid var(--border-color);
}
html body nav #side-bar footer #wifi img {
  margin-top: 5px;
  margin-left: -1px;
}
html body nav #side-bar footer #wifi p {
  margin-top: 5px;
  left: 0;
}
html body nav #side-bar footer .settings {
  position: absolute;
  bottom: 40px;
  width: 310px;
  height: 30px;
}
html body nav #side-bar footer .settings #settingsIcon {
  margin-top: 5px;
  margin-left: -1px;
}
html body nav #side-bar footer .settings #settingsUpdateIcon {
  display: none;
  margin-top: 4px;
  margin-left: 12.5px;
}
html body nav #side-bar footer .settings #settingsUpdateIcon .st0 {
  fill: var(--svg-base-color);
}
html body nav #side-bar footer .settings #settingsUpdateIcon .st1 {
  fill: var(--accent-default);
}
html body nav #side-bar footer .settings p {
  margin-top: 5px;
  left: 0;
}
html body .banner {
  display: none;
  position: absolute;
  z-index: 5;
  top: 80px;
  left: calc(50vw - 240px);
  width: 600px;
  height: 46px;
  font-size: 14px;
  border-radius: 3px;
  backdrop-filter: blur(50px);
}
html body .banner .banner-content {
  display: flex;
  margin-top: 13px;
  margin-left: 15px;
  width: 570px;
}
html body .banner .banner-content .banner-icon {
  margin-top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
html body .banner .banner-content .banner-icon img {
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
  margin-left: 3px;
}
html body .banner .banner-content .banner-title {
  margin-left: 13px;
  font-weight: 500;
}
html body .banner .banner-content .banner-info {
  margin-left: 12px;
}
html body .banner .banner-content .banner-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
html body .banner .banner-content .banner-close img {
  width: 14px;
  height: 14px;
}
html body #info-banner {
  border: 1px solid var(--info-banner-border);
  background: var(--info-banner-bg);
}
html body #info-banner #info-icon {
  background-color: var(--info-banner-icon);
}
html body #warning-banner {
  background: var(--warning-banner-bg);
}
html body #warning-banner #warning-icon {
  background-color: var(--warning-banner-icon);
}
html body #error-banner {
  background-color: var(--error-banner-bg);
}
html body #error-banner #error-icon {
  background-color: var(--error-banner-icon);
}
html body #error-banner #error-button-hide {
  display: none;
  position: absolute;
  top: 8px;
  right: 50px;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  border-radius: 2px;
  color: var(--text-color);
  background-color: var(--error-banner-button);
  cursor: pointer;
  transition: 0.2s;
}
html body #error-banner #error-button-hide:hover {
  opacity: 0.9;
  transition: 0.2s;
}
html body #error-banner #error-button-hide:active {
  opacity: 0.75;
  transition: 0.2s;
}
html body #error-banner-wifi {
  background-color: var(--error-banner-bg);
}
html body #error-banner-wifi #error-icon-wifi {
  background-color: var(--error-banner-icon);
}
html body #error-banner-wifi #error-hide {
  display: none;
  position: absolute;
  top: 8px;
  right: 50px;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  border-radius: 2px;
  color: var(--text-color);
  background-color: var(--error-banner-button);
  cursor: pointer;
  transition: 0.2s;
}
html body #error-banner-wifi #error-hide:hover {
  opacity: 0.9;
  transition: 0.2s;
}
html body #error-banner-wifi #error-hide:active {
  opacity: 0.75;
  transition: 0.2s;
}

/*# sourceMappingURL=main.css.map */