html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        main {
            display: flex;
            position: relative;
            top: 23px;
            left: 312px;
            width: 100vw;
            height: calc(100vh - 23px);
            justify-content: center;
            align-items: center;
            
            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color); 
            border-top-left-radius: 10px;

            background-color: var(--main-color);
            #profile-container {
                display: block;
                position: absolute;
                opacity: 0;
                text-align: center;
                top: 50px;
                left: 320px;
                width: 200px;
            }
            #settings-container {
                position: absolute;
                bottom: 13px;
                left: 0;
                height: 50px;
                backdrop-filter: blur(100px);
                border: 1px solid var(--border-color);
                border-left: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                z-index: 3;
                opacity: 0;
                #settings-content {
                    list-style: none;
                    li {
                        display: inline-flex;
                        position: relative;
                        bottom: 10px;
                        a {
                            display: flex;
                            margin-right: 5px;
                            padding: 10px;
                            border-radius: 5px;
                            transition: .2s;
                            &:hover {
                                background-color: var(--nav-hyperlink);
                                transition: .2s;
                            }
                            &:active {
                                background-color: var(--nav-hyperlink-active);
                                transition: .2s;
                            }
                        }
                        #change-language #set-lang-text {
                            display: none;
                        }
                        #change-language:hover #set-lang-text {
                            display: block;
                        }
                        
                        #notification #set-note-text {
                            display: none;
                        }
                        #notification:hover #set-note-text {
                            display: block;
                        }
                        
                        #contact #set-cont-text {
                            display: none;
                        }
                        #contact:hover #set-cont-text {
                            display: block;
                        }
                        
                        #developer #set-dev-text {
                            display: none;
                        }
                        #developer:hover #set-dev-text {
                            display: block;
                        }
                        
                        #report-bug #set-bug-text {
                            display: none;
                        }
                        #report-bug:hover #set-bug-text {
                            display: block;
                        }
                        
                        #about #set-abo-text {
                            display: none;
                        }
                        #about:hover #set-abo-text {
                            display: block;
                        }
                        
                        #more-settings #set-more-text {
                            display: none;
                        }
                        #more-settings:hover #set-more-text {
                            display: block;
                        }
                        
                    }
                }
            }
            form {
                width: 550px;
                height: 420px;
                margin-left: -533px;
                padding-left: 100px;
                border-radius: 5px;
                backdrop-filter: blur(75px);
                z-index: 4;
                
                #main-content {
                    margin-top: 40px;
                    width: 469px;
                    height: 332px;
                    #post-url {
                        #url-input {
                            margin-top: -8px;
                        }
                        #url-input:placeholder-shown + #clearButton {
                            opacity: 0;
                            pointer-events: none;
                        }
                        #clearButton {
                            position: absolute;
                            display: block;
                            border: none;
                            outline: none;
                            background: none;
                            margin-top: -29.5px;
                            margin-left: 436px;
                            width: 28px;
                            height: 24px;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: .2s;
                            &:hover {
                                background-color: var(--input-cross);
                                transition: .2s;
                            }
                            &:active {
                                opacity: .8;
                                transition: .2s;
                            }
                            img {
                                margin-top: 3px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                    #login-data {
                        display: flex;
                        padding-top: 15px;
                        input {
                            margin-top: -8px;
                        }
                        #password {
                            margin-left: 49px;
                            #password-form {
                                width: 160px;
                                padding-right: 40px;
                            }
                            #password-form:placeholder-shown + #togglePW {
                                opacity: 0;
                                pointer-events: none;
                            }
                            #togglePW {
                                position: absolute;
                                display: block;
                                border: none;
                                outline: none;
                                background: none;
                                margin-top: -29.5px;
                                margin-left: 176px;
                                width: 28px;
                                height: 24px;
                                border-radius: 5px;
                                cursor: pointer;
                                transition: .2s;
                                &:hover {
                                    background-color: var(--input-cross);
                                    transition: .2s;
                                }
                                &:active {
                                    opacity: .8;
                                    transition: .2s;
                                }
                                #togglePwImage {
                                    margin-top: 2px;
                                    margin-left: 4px;
                                }
                            }
                        }
                    }
                    #additional-settings {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        &[open] summary ~ * {
                            animation: sweep .3s ease-in-out;
                        }
                        @keyframes sweep {
                            0%    { opacity: 0; transform: translateY(-3px) }
                            90%   { opacity: 1; }
                            100%  { transform: translateY(0) }
                        }
                        #details {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            .line-additional {
                                width: 100%;
                                height: 1px;
                                background: var(--border-color);
                            }
                            #small-detail-title {
                            width: 100%;
                            font-size: 12px;
                            color: var(--text-note-color);
                            padding-left: 12px;
                            }
                        }
                        #a-d-content {
                            display: flex;
                            padding-top: 10px;
                            padding-bottom: 15px;
                            .save-profile-light, .save-profile-dark {
                                -webkit-appearance: none;
                            }
                            .save-profile-light + label::before, .save-profile-dark + label::before {
                                display: block;
                                position: relative;
                                margin-top: 3px;
                                width: 15px;
                                height: 15px;
                                float: left;
                                z-index: 5;
                                content: "";
                                border: 1px solid var(--checkbox-border);
                                border-radius: 4px;
                                background-color: var(--checkbox-bg);
                                transition: .2s;
                            }
                            .save-profile-light:hover + label::before, .save-profile-dark:hover + label::before {
                                background-color: var(--checkbox-hover);
                                transition: .2s;
                            }
                            .save-profile-light:active + label::before, .save-profile-dark:active + label::before {
                                background-color: var(--checkbox-active);
                                transition: .2s;
                            }
                            .save-profile-light:checked + label::before, .save-profile-dark:checked + label::before {
                                border: 1px solid var(--bg-main-button);
                                background-color: var(--bg-main-button);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 10px 10px;
                                transition: .2s;
                            }
                            .save-profile-light:checked + label::before {
                                background-image: url('icons/accept-dark.svg');
                            }
                            .save-profile-dark:checked + label::before {
                                background-image: url('icons/accept-light.svg');
                            }
                            .save-profile-light:checked:hover + label::before, .save-profile-dark:checked:hover + label::before {
                                border: 1px solid var(--checkbox-check-hover);
                                background-color: var(--checkbox-check-hover);
                                transition: .2s;
                            }
                            .save-profile-light:active:hover + label::before, .save-profile-dark:active:hover + label::before {
                                border: 1px solid var(--checkbox-check-active);
                                background-color: var(--checkbox-check-active);
                                transition: .2s;
                            }

                            #save-local {
                                padding-top: 6px;
                                cursor: pointer;
                                input, label {
                                    cursor: pointer;
                                }
                            }
                            #edit-comments {
                                margin-left: 58px;
                                #edit-button {
                                    width: 180px;
                                    height: 35px;
                                    cursor: pointer;
                                    color: var(--text-sec-button);
                                    background: var(--bg-sec-button);
                                    border: 1px solid var(--bg-border-button);
                                    border-radius: 5px;
                                    transition: .2s;
                                    &:hover {
                                        background-color: var(--bg-hover-sec-button);
                                        transition: .2s;
                                    }
                                    &:active {
                                        color: var(--active-sec-button-color);
                                        background-color: var(--bg-active-sec-button);
                                        transition: .2s;
                                    }
                                }
                            }
                        }
                    }
                    #start-stop {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1px;
                        #start button, #stop button {
                            width: 120px;
                            height: 35px;
                            cursor: pointer;
                        }
                        #start-btn {
                            position: relative;
                            margin-right: 30px;
                            color: var(--text-main-button);
                            background: var(--bg-main-button);
                            border: 1px solid transparent;
                            border-radius: 5px;
                            background-clip: padding-box;
                            transition: .2s;
                            &::after {
                                position: absolute;
                                top: -1px; bottom: -1px;
                                left: -1px; right: -1px;
                                background: var(--bg-after-main-button);
                                content: '';
                                z-index: -1;
                                border-radius: 5px;
                            }
                            &:hover {
                                background-color: var(--bg-hover-main-button);
                                transition: .2s;
                            }
                            &:active {
                                color: var(--active-main-button-color);
                                background-color: var(--bg-active-main-button);
                                transition: .2s;
                            }
                        }
                        #stop-btn {
                            display: none;
                            position: relative;
                            margin-left: 30px;
                            color: var(--text-sec-button);
                            background: var(--bg-sec-button);
                            border: 1px solid transparent;
                            border-radius: 5px;
                            background-clip: padding-box;
                            transition: .2s;
                            &::after {
                                position: absolute;
                                top: -1px; bottom: -1px;
                                left: -1px; right: -1px;
                                background: var(--bg-after-sec-button);
                                content: '';
                                z-index: -1;
                                border-radius: 5px;
                            }
                            &:hover {
                                background-color: var(--bg-hover-sec-button);
                                transition: .2s;
                            }
                            &:active {
                                color: var(--active-sec-button-color);
                                background-color: var(--bg-active-sec-button);
                                transition: .2s;
                            }
                        }
                    }
                }
            }
        }
        #legal-note {
            position: absolute;
            z-index: 5;
            bottom: 30px;
            right: 60px;
            color: var(--text-note-color);
            font-size: 20px;
        }
    }
}