* {
  --small-text: 14px;
  --medium-text: 16px;
  --big-text: 18px;

  --text-color: #101113;
  --line-color: #5E5E5E;
  --background-color: #fefefe;

  --main-color: #F3F3F3;

  ::selection {
    background: rgb(238, 252, 222);
    text-decoration: underline overline #FF3028;
  }
}

html {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  
  body {
    font-family: 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background: var(--background-color);
    text-decoration: underline overline transparent;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 30px;
      height: 30px;
    }

    .hidden {
      display: none;
    }

    
    @keyframes round {
      0% { 
        transform: rotate(0deg); 
        border-radius: 50%;
        width: 170px;
        height: 150px;
        // background: linear-gradient(90deg, rgb(250, 112, 154)28%, rgb(254, 225, 64) 100%); 
      }
      50% {
        border-radius: 40%;
        width: 140px;
        height: 120px;
      }
      100% {
         border-radius: 50%;
         width: 170px;
         height: 150px;
         transform: rotate(365deg); 
         // background: linear-gradient(90deg, rgb(196,245,201)28%, rgb(196,232,245) 100%); 
      }
      
    }

    .small-cursor {
      position: fixed;
      z-index: 1;
      top: -150px;
      left: 45%;
      width: 170px;
      height: 150px;
      background: linear-gradient(90deg, rgb(250, 112, 154)28%, rgb(254, 225, 64) 100%);  // green: rgba(196,245,201,1), blue : rgba(196,232,245,1) 
      filter: blur(50px);
      border-radius: 50%;
      pointer-events: none;
      transition: 1s ease-out;
      animation: round 25s cubic-bezier(0.68,-0.55,0.27,1.55) infinite;
    }
    
    .medium-title {
      font-size: var(--medium-text);
    }
    .big-title {
      font-size: var(--big-text);
      font-weight: normal;
    }
    
    .medium-form {
      width: 195px;
      height: 34px;
    }
    .big-form {
      width: 445px;
      height: 34px;
    }

    .medium-form, .big-form {
      padding-left: 5px;
      font-size: var(--small-text);
      border: none;
      border-bottom: 1.5px solid #C0C0C0;
      background-color: #EEEEEE;
      transition: .2s ease-out;
      &:hover {
        background-color: #E7E7E7;
        border-bottom-color: #444444;
        transition: .2s ease-out;
      }
    }

    .help {
      width: 12px;
      height: 12px;
      margin-left: 5px;  
    }
    
    header {
      #drag-region {
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 50px;
        -ms-overflow-style: scrollbar;
        -webkit-app-region: drag;
        background-color: var(--main-color);
        #window-title {
          position: relative;
          top: 10px;
          left: 10px;
        }
        #window-controls {
          -webkit-app-region: no-drag;
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          .button {
            width: 60px;
            height: 50px;
            border: none;
            img {
              width: 12px;
              height: 12px;
            }
          }
          #minBtn, #maxBtn, #restoreBtn {
            &:hover {
              background-color: rgb(204, 204, 204);
            }
          }
          #closeBtn:hover {
            background-color: rgb(255, 89, 89);
          }
          #maxBtn {
            display: none;
          }
        }
      }
    }

    nav {
      #side-bar {
        position: absolute;
        z-index: 2;
        background-color: var(--main-color);
        width: 200px;
        height: 100vh;
        top: 50px;
        left: 0;
        transition: .2s;
        a {
          display: flex;
          padding-top: 20px;
          color: var(--text-color);
          text-decoration: none;
          transition: .2s;
          &:hover {
            opacity: .7;
            transition: .2s;
          }
          p {
            position: absolute;
            margin-top: 3px;
            margin-left: 60px;
          }
          img {
            padding-left: 15px;
          }
        }
        #wifi {
          position: absolute;
          bottom: 140px;
          left: 0px;
          width: 100%;
          height: 50px;
          color: rgb(49, 170, 49);
          border-bottom: 1px solid black;
        } 
        #settings {
          position: absolute;
          bottom: 80px;
          left: 0px;
        }
      }
    }
    
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 75px;
      margin-left: calc(50% - 275px);
      padding-bottom: 20px;

      width: 550px;
      height: 420px;

      backdrop-filter: blur(75px);
      border-radius: 2px;

      position: relative;
      z-index: 3;

      #post-url {
        input {
          margin-top: -8px;
        }
      }
      #login-data {
        display: flex;
        padding-top: 15px;
        input {
          margin-top: -8px;
        }
        #password {
          margin-left: 47px;
        }
      }
      #additional-settings {
        padding-top: 20px;
        padding-bottom: 20px;
        &[open] summary ~ * {
          animation: sweep .3s ease-in-out;
        }
        @keyframes sweep {
          0%    { opacity: 0; transform: translateY(-3px) }
          90%   { opacity: 1; }
          100%  { transform: translateY(0) }
        }
        #details {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .line {
            width: 100%;
            height: 1px;
            background: #C0C0C0;
            &:last-child {
              margin-right: 0.5px; // Doesnt work
            }
          }
          #small-detail-title {
            width: 100%;
            font-size: 12px;
            color: #C0C0C0;
            padding-left: 12px;
          }
        }
        #a-d-content {
          display: flex;
          padding-top: 10px;
          padding-bottom: 15px;
          #save-local {
            padding-top: 6px;
            cursor: pointer;
            input, label {
              cursor: pointer;
            }
          }
          #edit-comments {
            margin-left: 58px;
            #edit-button {
              width: 200px;
              height: 35px;
              cursor: pointer;
              background: none;
              border: 1px solid var(--text-color);
              transition: .2s;
              &:hover {
                color: var(--background-color);
                background-color: var(--text-color);
                transition: .2s;
              }
            }
          }
        }
      }
      #start-stop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        #start button, #stop button {
          width: 100px;
          height: 35px;
          border: 1px solid var(--text-color);
          cursor: pointer;
        }
        #start-btn {
          margin-right: 30px;
          background: #CBFFD0;
          transition: .2s;
          &:hover {
            background: #c4f5c9;
            transition: .2s;
          }
        }
        #stop-btn {
          margin-left: 30px;
          background: #ffcbcb;
          transition: .2s;
          &:hover {
            background: #f5c3c3;
            transition: .2s;
          }
        }
      }
    }

  }
  
}