:root {
  --small-text: 14px;
  --medium-text: 16px;
  --big-text: 18px;
}

html {
  width: 100vw;
  height: 100vh;
  
  body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(31, 31, 31);
    margin: auto;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    
    .medium-title {
      font-size: var(--medium-text);
    }
    .big-title {
      font-size: var(--big-text);
      font-weight: normal;
    }
    
    .medium-form {
      width: 200px;
      height: 34px;
    }
    .big-form {
      width: 450px;
      height: 34px;
    }

    .medium-form, .big-form {
      font-size: var(--small-text);
      border: none;
      border-bottom: 1.5px solid #C0C0C0;
      background-color: #EEEEEE;
      transition: .2s ease-out;
      &:hover {
        background-color: #E7E7E7;
        border-bottom-color: #444444;
        transition: .2s ease-out;
      }
    }

    .help {
      width: 12px;
      height: 12px;
      opacity: .65;
      margin-left: 5px;  
    }
    
    nav {
      width: 100%;
      height: 97px;
      background: white;
      border-color: black;
      #top-bar {
        display: flex;
        #logo {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
      }
      #nav-content {
        display: contents;
        list-style: none;
        transition: .2s;
        li a:hover {
          opacity: .7;
          transition: .2s;
        }
      }

    }
    
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 75px;
      #login-data {
        display: flex;
        padding-top: 15px;
        input {
          margin-top: -10px;
        }
        #password {
          margin-left: 45px;
        }
      }
      #additional-settings {
        padding-top: 20px;
        padding-bottom: 20px;
        #details {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .line {
            width: 100%;
            height: 1px;
            background: #C0C0C0;
          }
          #small-detail-title {
            width: 100%;
            font-size: 12px;
            color: #C0C0C0;
            padding-left: 12px;
          }
        }
        #a-d-content {
          display: flex;
          padding-top: 10px;
          padding-bottom: 15px;
          #save-local {
            padding-top: 6px;
          }
          #edit-comments {
            margin-left: 58px;
            #edit-button {
              width: 200px;
              height: 35px;
              background: none;
              border: 1px solid black;
              transition: .2s;
              &:hover {
                color: white;
                background-color: black;
                transition: .2s;
              }
            }
          }
        }
      }
      #start-stop {
        display: flex;
        justify-content: center;
        align-items: center;
        #start button, #stop button {
          width: 100px;
          height: 35px;
          border: 1px solid black;
        }
        #start-btn {
          margin-right: 30px;
          background: #CBFFD0;
        }
        #stop-btn {
          margin-left: 30px;
          background: #ffcbcb;
        }
      }
    }

  }
  
}

