* {
  --small-text: 14px;
  --medium-text: 16px;
  --big-text: 18px;
  --text-color: #101113;
  --line-color: #5E5E5E;
  --background-color: #fefefe;
}
* ::-moz-selection {
  color: var(--text-color);
  background: #eefcde;
  text-shadow: 5px 5px #558ABB;
  text-decoration: underline overline #FF3028;
}
* ::selection {
  color: var(--text-color);
  background: #eefcde;
  text-shadow: 5px 5px #558ABB;
  -webkit-text-decoration: underline overline #FF3028;
          text-decoration: underline overline #FF3028;
}

html {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
}
html body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body img {
  width: 30px;
  height: 30px;
}
html body #top-bar, html body #side-bar, html body input, html body button {
  position: relative;
  z-index: 2;
  background-color: var(--background-color);
}
html body #details, html body #save-local, html body h2, html body img {
  position: relative;
  z-index: 3;
}
html body #big-title {
  position: relative;
  z-index: 1;
}
html body .hidden {
  display: none;
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
html body .small-cursor {
  position: fixed;
  z-index: 1;
  top: -150px;
  left: 45%;
  width: 170px;
  height: 150px;
  background: -webkit-gradient(linear, left top, right top, color-stop(28%, #c4f5c9), to(#c4e8f5));
  background: linear-gradient(90deg, #c4f5c9 28%, #c4e8f5 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  -webkit-animation: round 10s ease-in-out infinite;
          animation: round 10s ease-in-out infinite;
}
html body .medium-title {
  font-size: var(--medium-text);
}
html body .big-title {
  font-size: var(--big-text);
  font-weight: normal;
}
html body .medium-form {
  width: 195px;
  height: 34px;
}
html body .big-form {
  width: 445px;
  height: 34px;
}
html body .medium-form, html body .big-form {
  padding-left: 5px;
  font-size: var(--small-text);
  border: none;
  border-bottom: 1.5px solid #C0C0C0;
  background-color: #EEEEEE;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
html body .medium-form:hover, html body .big-form:hover {
  background-color: #E7E7E7;
  border-bottom-color: #444444;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
html body .help {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
html body nav {
  width: 100%;
  border-color: var(--text-color);
}
html body nav #top-bar {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  border-bottom: 1px solid var(--line-color);
}
html body nav #top-bar #burger {
  width: 67px;
  height: 60px;
}
html body nav #top-bar #burger #big-line {
  position: absolute;
  top: 61px;
  left: 0px;
  width: 1px;
  height: calc(100vh - 61px);
  background: var(--text-color);
  opacity: 0;
}
html body nav #top-bar #burger #small-line {
  position: absolute;
  left: 60px;
  width: 1px;
  height: 60px;
  background: var(--text-color);
}
html body nav #top-bar #burger label {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 19px;
}
html body nav #top-bar #burger label i {
  display: block;
  height: 2px;
  background: var(--text-color);
}
html body nav #top-bar #burger label i:nth-child(1) {
  width: 15px;
}
html body nav #top-bar #burger label i:nth-child(2) {
  margin-top: 4px;
  width: 24px;
}
html body nav #top-bar #burger label i:nth-child(3) {
  margin-top: 4px;
  margin-left: 9px;
  width: 15px;
}
html body nav #top-bar #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body nav #top-bar #signal {
  width: 64px;
  height: 60px;
  border-left: 1px solid var(--line-color);
}
html body nav #top-bar #signal a {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
}
html body nav #side-bar {
  opacity: 0;
  width: 60px;
  height: 100vh;
  position: absolute;
  top: 60px;
  left: -60px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body nav #side-bar a:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body nav #side-bar a img {
  padding-left: 15px;
  padding-top: 20px;
}
html body nav #side-bar #info {
  position: absolute;
  bottom: 80px;
  left: 0px;
}
html body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}
html body main #post-url input {
  margin-top: -8px;
}
html body main #login-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}
html body main #login-data input {
  margin-top: -8px;
}
html body main #login-data #password {
  margin-left: 47px;
}
html body main #additional-settings {
  padding-top: 20px;
  padding-bottom: 20px;
}
html body main #additional-settings[open] summary ~ * {
  -webkit-animation: sweep 0.3s ease-in-out;
          animation: sweep 0.3s ease-in-out;
}
@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
html body main #additional-settings #details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
html body main #additional-settings #details .line {
  width: 100%;
  height: 1px;
  background: #C0C0C0;
}
html body main #additional-settings #details .line:last-child {
  margin-right: 0.5px;
}
html body main #additional-settings #details #small-detail-title {
  width: 100%;
  font-size: 12px;
  color: #C0C0C0;
  padding-left: 12px;
}
html body main #additional-settings #a-d-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
}
html body main #additional-settings #a-d-content #save-local {
  padding-top: 6px;
  cursor: pointer;
}
html body main #additional-settings #a-d-content #save-local input, html body main #additional-settings #a-d-content #save-local label {
  cursor: pointer;
}
html body main #additional-settings #a-d-content #edit-comments {
  margin-left: 58px;
}
html body main #additional-settings #a-d-content #edit-comments #edit-button {
  width: 200px;
  height: 35px;
  cursor: pointer;
  background: none;
  border: 1px solid var(--text-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main #additional-settings #a-d-content #edit-comments #edit-button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main #start-stop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
}
html body main #start-stop #start button, html body main #start-stop #stop button {
  width: 100px;
  height: 35px;
  border: 1px solid var(--text-color);
  cursor: pointer;
}
html body main #start-stop #start-btn {
  margin-right: 30px;
  background: #CBFFD0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main #start-stop #start-btn:hover {
  background: #c4f5c9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main #start-stop #stop-btn {
  margin-left: 30px;
  background: #ffcbcb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main #start-stop #stop-btn:hover {
  background: #f5c3c3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=index.css.map */