.light {
    --background-color: #F3F3F3;
    --main-color: #F9F9F9;
    --border-color: #DFDFDF;
    --active-color: #cececeb9;
    --hover-color: #dfdfdfb9;

    --text-color: #000000;
    --text-note-color: #001224;

    --input-bg-color: #fefefefe;
    --input-border-color: #ebebeb;
    --input-border-bot-color: #757575;
    --input-bg-hover-color: #ffffff;

    --text-main-button: #FFFFFF;
    --bg-main-button: #005FB8;
    --bg-after-main-button: linear-gradient(180deg, #0069B8 90%, #013681 100%);
    --bg-hover-main-button: #016dd1;
    --bg-active-main-button: #0076e4;

    --text-sec-button: #000000;
    --bg-sec-button: rgb(254, 254, 254);
    --bg-after-sec-button: linear-gradient(180deg, #e9e9e9 90%, #d3d3d3 100%);
    --bg-hover-sec-button: rgb(247, 247, 247);
    --bg-active-sec-button: rgb(238, 238, 238);

  
    --img-size: 20px;
    --font-size: 14px;

    --window-control-hover: rgb(213, 219, 223);
    --window-close-hover: rgb(255, 89, 89);

    --mouse-color: linear-gradient(90deg, rgb(250, 112, 154)28%, rgb(254, 225, 64) 100%);
}

.light ::selection {
    background: rgb(161, 200, 250);
  }

.dark {
    --background-color: #1C1C1C;
    --main-color: #202020;
    --border-color: #303030;
    --active-color: #353535b9;
    --hover-color: #303030b9;
    
    --text-color: #FFFFFF;
    --text-note-color: #9facbb;

    --input-bg-color: #fefefefe;
    --input-border-color: #ebebeb;
    --input-border-bot-color: #757575;
    --input-bg-hover-color: #ffffff;

    --text-main-button: #000000;
    --bg-main-button: #60CDFF;
    --bg-after-main-button: linear-gradient(180deg, #0069B8 90%, #013681 100%);
    --bg-hover-main-button: #016dd1;
    --bg-active-main-button: #0076e4;

    --text-sec-button: #FFFFFF;
    --bg-sec-button: #2a2a2a;
    --bg-after-sec-button: linear-gradient(180deg, #e9e9e9 90%, #d3d3d3 100%);
    --bg-hover-sec-button: rgb(247, 247, 247);
    --bg-active-sec-button: rgb(238, 238, 238);
  
    --img-size: 20px;
    --font-size: 14px;
  
    --window-control-hover: rgb(64, 67, 70);
    --window-close-hover: rgb(194, 43, 43);
    
    --mouse-color: linear-gradient(90deg, rgba(164, 223, 170, 0.6)28%, rgba(107, 193, 224, 0.6) 100%);
}

.dark ::selection {
    background: rgb(161, 200, 250);
}