html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        font-family: 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--text-color);
        background: var(--background-color);
        user-select: none;
        -webkit-user-drag: none;
        overflow: hidden;
        img {
            width: var(--img-size);
            height: var(--img-size);
        }
        a {
            color: var(--text-color);
            text-decoration: none;
            cursor: pointer;
        }
        @keyframes round {
            0% { 
                transform: rotate(0deg); 
                border-radius: 50%;
                width: 170px;
                height: 150px;
            }
            50% {
                border-radius: 40%;
                width: 140px;
                height: 120px;
            }
            100% {
                border-radius: 50%;
                width: 170px;
                height: 150px;
                transform: rotate(365deg); 
            }
            
        }
        
        .small-cursor {
            position: fixed;
            z-index: 2;
            top: -150px;
            left: 45%;
            width: 170px;
            height: 150px;
            background: var(--mouse-color);
            filter: blur(85px);
            border-radius: 50%;
            pointer-events: none;
            transition: 1s ease-out;
            animation: round 25s cubic-bezier(0.68,-0.55,0.27,1.55) infinite;
        }
        .medium-title {
            font-size: var(--medium-text);
        }
        .big-title {
            font-size: var(--big-text);
            font-weight: normal;
        }
        .medium-form {
            width: 200px;
        }
        .big-form {
            width: 460px;
        }
        .medium-form, .big-form {
            height: 30px;
            padding-left: 7px;
            color: var(--input-color);
            font-size: var(--small-text);
            background-color: var(--input-bg-color);
            border: none;
            border: 1px solid var(--input-border-color);
            border-bottom: 1px solid var(--input-border-bot-color);
            border-radius: 5px;
            font-size: 14px;
            transition: .2s;
            &:hover {
                color: var(--input-hover-color);
                background-color: var(--input-bg-hover-color);
                border: 1px solid var(--input-border-color);
                border-bottom: 1px solid var(--input-border-bot-hover-color);
                transition: .2s;
            }
            &:active, &:focus {
                outline: none;
                height: 28px;
                padding-top: 2px;
                background-color: var(--input-bg-active-color);
                border: 1px solid var(--input-border-active-color);
                border-bottom: 2px solid var(--input-border-bot-active-color);
                transition: .2s;
            }
        }
        .info {
            width: 11px;
            height: 11px;
            margin-left: 3px;
            cursor: pointer;
        }
        .hidden {
            display: none;
        }

        header {
            #drag-region {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;         
                height: 31px;     
                backdrop-filter: blur(100px);
                z-index: 3;
                -ms-overflow-style: scrollbar;
                -webkit-app-region: drag;
                #window-title {
                    img {
                        position: absolute;
                        top: 6.5px;
                        left: 18px;
                    }
                    span {
                        position: absolute;
                        top: 9px;
                        left: 55px;
                        font-size: 12px;
                    }
                }
                #window-controls {
                    -webkit-app-region: no-drag;
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    .button {
                        width: 46px;
                        height: 32px;
                        border: none;
                        background-color: transparent;
                        .icon {
                            width: 10px;
                            height: 10px;
                        }
                    }
                    #minBtn:hover, #maxBtn:hover, #restoreBtn:hover {
                        background-color: var(--window-control-hover);
                    }
                    #closeBtn:hover {
                        background-color: var(--window-close-hover);
                    }
                    #maxBtn {
                        display: none;
                    }
                }
            }
        }
        nav {
            #side-bar {
                position: absolute;
                padding-top: 4px;
                top: 31px;
                left: 0;
                width: 320px;
                height: 100vh;
                transition: .2s;
                font-size: var(--font-size);
                backdrop-filter: blur(100px);
                z-index: 3;
                #active {
                    background-color: var(--border-color);
                    &:active {
                        background-color: var(--active-color);
                        transition: .2s;
                    }
                    .line {
                        margin-top: 1.5px;
                        width: 3px;
                        height: 16px;
                        border-radius: 2px;
                        background-color: var(--bg-main-button);
                    }
                    img {
                        margin-left: -3px;
                    }
                }
                #upper-content a {
                    margin-left: 5px;
                    margin-right: 5px;
                    border-radius: 5px;
                }
                a {
                    display: flex;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    transition: .2s;
                    &:hover {
                        background-color: var(--hover-color);
                        transition: .2s;
                    }
                    &:active {
                        background-color: var(--active-color);
                        transition: .2s;
                    }
                    img {
                        padding-left: 13.5px;
                    }
                    p {
                        position: absolute;
                        margin-top: 0;
                        margin-left: 50px;
                    }
                }

                footer {
                    #wifi {
                        position: absolute;
                        bottom: 85px;
                        width: 100%;
                        height: 30px;
                        img {
                            margin-top: 5px;
                            margin-left: 4px;
                        }
                        p {
                            margin-top: 5px;
                            left: 5px;
                        }
                    } 
                    .settings {
                        position: absolute;
                        bottom: 35px;
                        width: 100%;
                        height: 30px;
                        border-top: 1px solid var(--border-color);
                        img {
                            margin-top: 5px;
                            margin-left: 4px;
                        }
                        p {
                            margin-top: 5px;
                            left: 5px;
                        }
                    }
                }
            }
        }
        main {
            display: flex;
            position: relative;
            top: 23px;
            left: 312px;
            width: 100vw;
            height: calc(100vh - 23px);
            justify-content: center;
            align-items: center;
            
            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color); 
            border-top-left-radius: 10px;

            background-color: var(--main-color);
            form {
                width: 550px;
                height: 420px;
                margin-left: -533px;
                padding-left: 100px;
                border-radius: 5px;
                backdrop-filter: blur(75px);
                z-index: 4;
                
                #main-content {
                    margin-top: 40px;
                    width: 469px;
                    height: 332px;
                    #post-url {
                        #url-input {
                            margin-top: -8px;
                        }
                        #url-input:placeholder-shown + #clearButton {
                            opacity: 0;
                            pointer-events: none;
                        }
                        #clearButton {
                            position: absolute;
                            display: block;
                            border: none;
                            outline: none;
                            background: none;
                            margin-top: -29.5px;
                            margin-left: 436px;
                            width: 28px;
                            height: 24px;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: .2s;
                            &:hover {
                                background-color: var(--input-cross);
                                transition: .2s;
                            }
                            &:active {
                                opacity: .8;
                                transition: .2s;
                            }
                            img {
                                margin-top: 3px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                    #login-data {
                        display: flex;
                        padding-top: 15px;
                        input {
                            margin-top: -8px;
                        }
                        #password {
                            margin-left: 49px;
                            #password-form:placeholder-shown + #togglePW {
                                opacity: 0;
                                pointer-events: none;
                            }
                            #togglePW {
                                position: absolute;
                                display: block;
                                border: none;
                                outline: none;
                                background: none;
                                margin-top: -29.5px;
                                margin-left: 176px;
                                width: 28px;
                                height: 24px;
                                border-radius: 5px;
                                cursor: pointer;
                                transition: .2s;
                                &:hover {
                                    background-color: var(--input-cross);
                                    transition: .2s;
                                }
                                &:active {
                                    opacity: .8;
                                    transition: .2s;
                                }
                                #togglePwImage {
                                    margin-top: 2px;
                                    margin-left: 4px;
                                }
                            }
                        }
                    }
                    #additional-settings {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        &[open] summary ~ * {
                            animation: sweep .3s ease-in-out;
                        }
                        @keyframes sweep {
                            0%    { opacity: 0; transform: translateY(-3px) }
                            90%   { opacity: 1; }
                            100%  { transform: translateY(0) }
                        }
                        #details {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            .line {
                                width: 100%;
                                height: 1px;
                                background: var(--border-color);
                            }
                            #small-detail-title {
                            width: 100%;
                            font-size: 12px;
                            color: var(--text-note-color);
                            padding-left: 12px;
                            }
                        }
                        #a-d-content {
                            display: flex;
                            padding-top: 10px;
                            padding-bottom: 15px;
                            #save-local {
                                padding-top: 6px;
                                cursor: pointer;
                                input, label {
                                    cursor: pointer;
                                }
                            }
                            #edit-comments {
                                margin-left: 58px;
                                #edit-button {
                                    width: 180px;
                                    height: 35px;
                                    cursor: pointer;
                                    color: var(--text-sec-button);
                                    background: var(--bg-sec-button);
                                    border: 1px solid var(--bg-border-button);
                                    border-radius: 5px;
                                    transition: .2s;
                                    &:hover {
                                        background-color: var(--bg-hover-sec-button);
                                        transition: .2s;
                                    }
                                    &:active {
                                        color: var(--active-sec-button-color);
                                        background-color: var(--bg-active-sec-button);
                                        transition: .2s;
                                    }
                                }
                            }
                        }
                    }
                    #start-stop {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1px;
                        #start button, #stop button {
                            width: 120px;
                            height: 35px;
                            cursor: pointer;
                        }
                        #start-btn {
                            position: relative;
                            margin-right: 30px;
                            color: var(--text-main-button);
                            background: var(--bg-main-button);
                            border: 1px solid transparent;
                            border-radius: 5px;
                            background-clip: padding-box;
                            transition: .2s;
                            &::after {
                                position: absolute;
                                top: -1px; bottom: -1px;
                                left: -1px; right: -1px;
                                background: var(--bg-after-main-button);
                                content: '';
                                z-index: -1;
                                border-radius: 5px;
                            }
                            &:hover {
                                background-color: var(--bg-hover-main-button);
                                transition: .2s;
                            }
                            &:active {
                                color: var(--active-main-button-color);
                                background-color: var(--bg-active-main-button);
                                transition: .2s;
                            }
                        }
                        #stop-btn {
                            position: relative;
                            margin-left: 30px;
                            color: var(--text-sec-button);
                            background: var(--bg-sec-button);
                            border: 1px solid transparent;
                            border-radius: 5px;
                            background-clip: padding-box;
                            transition: .2s;
                            &::after {
                                position: absolute;
                                top: -1px; bottom: -1px;
                                left: -1px; right: -1px;
                                background: var(--bg-after-sec-button);
                                content: '';
                                z-index: -1;
                                border-radius: 5px;
                            }
                            &:hover {
                                background-color: var(--bg-hover-sec-button);
                                transition: .2s;
                            }
                            &:active {
                                color: var(--active-sec-button-color);
                                background-color: var(--bg-active-sec-button);
                                transition: .2s;
                            }
                        }
                    }
                }
            }
        }
        #error-banner {
            display: none;
            position: absolute;
            z-index: 5;
            top: 60px;
            left: calc(50vw - 230px);
            width: 600px;
            height: 46px;
            font-size: 14px;
            border-radius: 3px;
            background-color: var(--error-banner-bg);
            backdrop-filter: blur(10px);
            #error-content {
                display: flex;
                margin-top: 13px;
                margin-left: 15px;
                width: 570px;
                #error-icon {
                    margin-top: 3px;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background-color: var(--error-banner-icon);
                    img {
                        width: 8px;
                        height: 8px;
                        margin-bottom: 4px;
                        margin-left: 3px;
                    }
                }
                #error-title {
                    margin-left: 13px;
                    font-weight: 500;
                }
                #error-info {
                    margin-left: 12px;
                }
                #error-hide {
                    display: none;
                    position: absolute;
                    top: 8px;
                    right: 50px;
                    width: 100px;
                    height: 30px;
                    border: none;
                    outline: none;
                    background: none;
                    border-radius: 2px;
                    color: var(--text-color);
                    background-color: var(--error-banner-button);
                    cursor: pointer;
                    transition: .2s;
                    &:hover {
                        opacity: .9;
                        transition: .2s;
                    }
                    &:active {
                        opacity: .75;
                        transition: .2s;
                    }
                }
                #error-close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
        #legal-note {
            position: absolute;
            z-index: 5;
            bottom: 30px;
            right: 60px;
            color: var(--text-note-color);
            font-size: 20px;
        }
    }
}