html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html body {
  font-family: "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
}
html body img {
  width: var(--img-size);
  height: var(--img-size);
}
html body a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 50%;
    width: 170px;
    height: 150px;
  }
  50% {
    border-radius: 40%;
    width: 140px;
    height: 120px;
  }
  100% {
    border-radius: 50%;
    width: 170px;
    height: 150px;
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 50%;
    width: 170px;
    height: 150px;
  }
  50% {
    border-radius: 40%;
    width: 140px;
    height: 120px;
  }
  100% {
    border-radius: 50%;
    width: 170px;
    height: 150px;
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
html body .small-cursor {
  position: fixed;
  z-index: 2;
  top: -150px;
  left: 45%;
  width: 170px;
  height: 150px;
  background: var(--mouse-color);
  -webkit-filter: blur(85px);
          filter: blur(85px);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  -webkit-animation: round 25s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
          animation: round 25s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
html body .medium-title {
  font-size: var(--medium-text);
}
html body .big-title {
  font-size: var(--big-text);
  font-weight: normal;
}
html body .medium-form {
  width: 190px;
  padding-right: 10px;
}
html body .big-form {
  width: 420px;
  padding-right: 40px;
}
html body .medium-form, html body .big-form {
  height: 30px;
  padding-left: 7px;
  color: var(--input-color);
  font-size: var(--small-text);
  background-color: var(--input-bg-color);
  border: none;
  border: 1px solid var(--input-border-color);
  border-bottom: 1px solid var(--input-border-bot-color);
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body .medium-form:hover, html body .big-form:hover {
  color: var(--input-hover-color);
  background-color: var(--input-bg-hover-color);
  border: 1px solid var(--input-border-color);
  border-bottom: 1px solid var(--input-border-bot-hover-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body .medium-form:active, html body .medium-form:focus, html body .big-form:active, html body .big-form:focus {
  outline: none;
  height: 28px;
  padding-top: 2px;
  background-color: var(--input-bg-active-color);
  border: 1px solid var(--input-border-active-color);
  border-bottom: 2px solid var(--input-border-bot-active-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body .info {
  width: 11px;
  height: 11px;
  margin-left: 3px;
  cursor: pointer;
}
html body .hidden {
  display: none;
}
html body header #drag-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31px;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  z-index: 3;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
}
html body header #drag-region #window-title img {
  position: absolute;
  top: 6.5px;
  left: 18px;
}
html body header #drag-region #window-title span {
  position: absolute;
  top: 9px;
  left: 55px;
  font-size: 12px;
}
html body header #drag-region #window-controls {
  -webkit-app-region: no-drag;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
html body header #drag-region #window-controls .button {
  width: 46px;
  height: 32px;
  border: none;
  background-color: transparent;
}
html body header #drag-region #window-controls .button .icon {
  width: 10px;
  height: 10px;
}
html body header #drag-region #window-controls #minBtn:hover, html body header #drag-region #window-controls #maxBtn:hover, html body header #drag-region #window-controls #restoreBtn:hover {
  background-color: var(--window-control-hover);
}
html body header #drag-region #window-controls #closeBtn:hover {
  background-color: var(--window-close-hover);
}
html body header #drag-region #window-controls #maxBtn {
  display: none;
}
html body nav #side-bar {
  position: absolute;
  padding-top: 4px;
  top: 31px;
  left: 0;
  width: 320px;
  height: 100vh;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: var(--font-size);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  z-index: 3;
}
html body nav #side-bar #active {
  background-color: var(--border-color);
}
html body nav #side-bar #active:active {
  background-color: var(--active-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body nav #side-bar #active .line {
  margin-top: 1.5px;
  width: 3px;
  height: 16px;
  border-radius: 2px;
  background-color: var(--bg-main-button);
}
html body nav #side-bar #active img {
  margin-left: -3px;
}
html body nav #side-bar #upper-content a {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
html body nav #side-bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body nav #side-bar a:hover {
  background-color: var(--hover-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body nav #side-bar a:active {
  background-color: var(--active-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body nav #side-bar a img {
  padding-left: 13.5px;
}
html body nav #side-bar a p {
  position: absolute;
  margin-top: 0;
  margin-left: 50px;
}
html body nav #side-bar footer #wifi {
  position: absolute;
  bottom: 85px;
  width: 100%;
  height: 30px;
}
html body nav #side-bar footer #wifi img {
  margin-top: 5px;
  margin-left: 4px;
}
html body nav #side-bar footer #wifi p {
  margin-top: 5px;
  left: 5px;
}
html body nav #side-bar footer .settings {
  position: absolute;
  bottom: 35px;
  width: 100%;
  height: 30px;
  border-top: 1px solid var(--border-color);
}
html body nav #side-bar footer .settings img {
  margin-top: 5px;
  margin-left: 4px;
}
html body nav #side-bar footer .settings p {
  margin-top: 5px;
  left: 5px;
}
html body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 23px;
  left: 312px;
  width: 100vw;
  height: calc(100vh - 23px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top-left-radius: 10px;
  background-color: var(--main-color);
}
html body main form {
  width: 550px;
  height: 420px;
  margin-left: -533px;
  padding-left: 100px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
  z-index: 4;
}
html body main form #main-content {
  margin-top: 40px;
  width: 469px;
  height: 332px;
}
html body main form #main-content #post-url #url-input {
  margin-top: -8px;
}
html body main form #main-content #post-url #url-input:-moz-placeholder-shown + #clearButton {
  opacity: 0;
  pointer-events: none;
}
html body main form #main-content #post-url #url-input:-ms-input-placeholder + #clearButton {
  opacity: 0;
  pointer-events: none;
}
html body main form #main-content #post-url #url-input:placeholder-shown + #clearButton {
  opacity: 0;
  pointer-events: none;
}
html body main form #main-content #post-url #clearButton {
  position: absolute;
  display: block;
  border: none;
  outline: none;
  background: none;
  margin-top: -29.5px;
  margin-left: 436px;
  width: 28px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #post-url #clearButton:hover {
  background-color: var(--input-cross);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #post-url #clearButton:active {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #post-url #clearButton img {
  margin-top: 3px;
  width: 12px;
  height: 12px;
}
html body main form #main-content #login-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}
html body main form #main-content #login-data input {
  margin-top: -8px;
}
html body main form #main-content #login-data #password {
  margin-left: 49px;
}
html body main form #main-content #login-data #password #password-form {
  width: 160px;
  padding-right: 40px;
}
html body main form #main-content #login-data #password #password-form:-moz-placeholder-shown + #togglePW {
  opacity: 0;
  pointer-events: none;
}
html body main form #main-content #login-data #password #password-form:-ms-input-placeholder + #togglePW {
  opacity: 0;
  pointer-events: none;
}
html body main form #main-content #login-data #password #password-form:placeholder-shown + #togglePW {
  opacity: 0;
  pointer-events: none;
}
html body main form #main-content #login-data #password #togglePW {
  position: absolute;
  display: block;
  border: none;
  outline: none;
  background: none;
  margin-top: -29.5px;
  margin-left: 176px;
  width: 28px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #login-data #password #togglePW:hover {
  background-color: var(--input-cross);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #login-data #password #togglePW:active {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #login-data #password #togglePW #togglePwImage {
  margin-top: 2px;
  margin-left: 4px;
}
html body main form #main-content #additional-settings {
  padding-top: 20px;
  padding-bottom: 20px;
}
html body main form #main-content #additional-settings[open] summary ~ * {
  -webkit-animation: sweep 0.3s ease-in-out;
          animation: sweep 0.3s ease-in-out;
}
@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
html body main form #main-content #additional-settings #details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
html body main form #main-content #additional-settings #details .line {
  width: 100%;
  height: 1px;
  background: var(--border-color);
}
html body main form #main-content #additional-settings #details #small-detail-title {
  width: 100%;
  font-size: 12px;
  color: var(--text-note-color);
  padding-left: 12px;
}
html body main form #main-content #additional-settings #a-d-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light, html body main form #main-content #additional-settings #a-d-content .save-profile-dark {
  -webkit-appearance: none;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light + label::before, html body main form #main-content #additional-settings #a-d-content .save-profile-dark + label::before {
  display: block;
  position: relative;
  margin-top: 3px;
  width: 15px;
  height: 15px;
  float: left;
  z-index: 5;
  content: "";
  border: 1px solid var(--checkbox-border);
  border-radius: 4px;
  background-color: var(--checkbox-bg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light:hover + label::before, html body main form #main-content #additional-settings #a-d-content .save-profile-dark:hover + label::before {
  background-color: var(--checkbox-hover);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light:active + label::before, html body main form #main-content #additional-settings #a-d-content .save-profile-dark:active + label::before {
  background-color: var(--checkbox-active);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light:checked + label::before, html body main form #main-content #additional-settings #a-d-content .save-profile-dark:checked + label::before {
  border: 1px solid var(--bg-main-button);
  background-color: var(--bg-main-button);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light:checked + label::before {
  background-image: url("/src/img/icons/dark/accept.svg");
}
html body main form #main-content #additional-settings #a-d-content .save-profile-dark:checked + label::before {
  background-image: url("/src/img/icons/light/accept.svg");
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light:checked:hover + label::before, html body main form #main-content #additional-settings #a-d-content .save-profile-dark:checked:hover + label::before {
  border: 1px solid var(--checkbox-check-hover);
  background-color: var(--checkbox-check-hover);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content .save-profile-light:active:hover + label::before, html body main form #main-content #additional-settings #a-d-content .save-profile-dark:active:hover + label::before {
  border: 1px solid var(--checkbox-check-active);
  background-color: var(--checkbox-check-active);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content #save-local {
  padding-top: 6px;
  cursor: pointer;
}
html body main form #main-content #additional-settings #a-d-content #save-local input, html body main form #main-content #additional-settings #a-d-content #save-local label {
  cursor: pointer;
}
html body main form #main-content #additional-settings #a-d-content #edit-comments {
  margin-left: 58px;
}
html body main form #main-content #additional-settings #a-d-content #edit-comments #edit-button {
  width: 180px;
  height: 35px;
  cursor: pointer;
  color: var(--text-sec-button);
  background: var(--bg-sec-button);
  border: 1px solid var(--bg-border-button);
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content #edit-comments #edit-button:hover {
  background-color: var(--bg-hover-sec-button);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #additional-settings #a-d-content #edit-comments #edit-button:active {
  color: var(--active-sec-button-color);
  background-color: var(--bg-active-sec-button);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #start-stop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
}
html body main form #main-content #start-stop #start button, html body main form #main-content #start-stop #stop button {
  width: 120px;
  height: 35px;
  cursor: pointer;
}
html body main form #main-content #start-stop #start-btn {
  position: relative;
  margin-right: 30px;
  color: var(--text-main-button);
  background: var(--bg-main-button);
  border: 1px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #start-stop #start-btn::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: var(--bg-after-main-button);
  content: "";
  z-index: -1;
  border-radius: 5px;
}
html body main form #main-content #start-stop #start-btn:hover {
  background-color: var(--bg-hover-main-button);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #start-stop #start-btn:active {
  color: var(--active-main-button-color);
  background-color: var(--bg-active-main-button);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #start-stop #stop-btn {
  display: none;
  position: relative;
  margin-left: 30px;
  color: var(--text-sec-button);
  background: var(--bg-sec-button);
  border: 1px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #start-stop #stop-btn::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: var(--bg-after-sec-button);
  content: "";
  z-index: -1;
  border-radius: 5px;
}
html body main form #main-content #start-stop #stop-btn:hover {
  background-color: var(--bg-hover-sec-button);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body main form #main-content #start-stop #stop-btn:active {
  color: var(--active-sec-button-color);
  background-color: var(--bg-active-sec-button);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body #info-banner {
  display: none;
  position: absolute;
  z-index: 5;
  top: 60px;
  left: calc(50vw - 240px);
  width: 600px;
  height: 46px;
  font-size: 14px;
  border: 1px solid var(--info-banner-border);
  border-radius: 3px;
  background: var(--info-banner-bg);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
html body #info-banner #info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-left: 15px;
  width: 570px;
}
html body #info-banner #info-content #info-icon {
  margin-top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--info-banner-icon);
}
html body #info-banner #info-content #info-icon img {
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
  margin-left: 3px;
}
html body #info-banner #info-content #info-title {
  margin-left: 13px;
  font-weight: 500;
}
html body #info-banner #info-content #info-info {
  margin-left: 12px;
}
html body #info-banner #info-content #info-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
html body #info-banner #info-content #info-close img {
  width: 14px;
  height: 14px;
}
html body #warning-banner {
  display: none;
  position: absolute;
  z-index: 5;
  top: 60px;
  left: calc(50vw - 240px);
  width: 600px;
  height: 46px;
  font-size: 14px;
  border-radius: 3px;
  background: var(--warning-banner-bg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
html body #warning-banner #warning-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-left: 15px;
  width: 570px;
}
html body #warning-banner #warning-content #warning-icon {
  margin-top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--warning-banner-icon);
}
html body #warning-banner #warning-content #warning-icon img {
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
  margin-left: 3px;
}
html body #warning-banner #warning-content #warning-title {
  margin-left: 13px;
  font-weight: 500;
}
html body #warning-banner #warning-content #warning-info {
  margin-left: 12px;
}
html body #warning-banner #warning-content #warning-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
html body #warning-banner #warning-content #warning-close img {
  width: 14px;
  height: 14px;
}
html body #error-banner {
  display: none;
  position: absolute;
  z-index: 5;
  top: 60px;
  left: calc(50vw - 240px);
  width: 600px;
  height: 46px;
  font-size: 14px;
  border-radius: 3px;
  background-color: var(--error-banner-bg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
html body #error-banner #error-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-left: 15px;
  width: 570px;
}
html body #error-banner #error-content #error-icon {
  margin-top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--error-banner-icon);
}
html body #error-banner #error-content #error-icon img {
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
  margin-left: 3px;
}
html body #error-banner #error-content #error-title {
  margin-left: 13px;
  font-weight: 500;
}
html body #error-banner #error-content #error-info {
  margin-left: 12px;
}
html body #error-banner #error-content #error-hide {
  display: none;
  position: absolute;
  top: 8px;
  right: 50px;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  border-radius: 2px;
  color: var(--text-color);
  background-color: var(--error-banner-button);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body #error-banner #error-content #error-hide:hover {
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body #error-banner #error-content #error-hide:active {
  opacity: 0.75;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
html body #error-banner #error-content #error-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
html body #error-banner #error-content #error-close img {
  width: 14px;
  height: 14px;
}
html body #legal-note {
  position: absolute;
  z-index: 5;
  bottom: 30px;
  right: 60px;
  color: var(--text-note-color);
  font-size: 20px;
}
/*# sourceMappingURL=index.css.map */